<br>
<h2> Create GardenKeeper Account</h2>
<br>
<%= flash[:alert] %>

<%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= render partial: '/layouts/form', locals: {object_name: f} %>
    <br>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>
<br>
    <%= f.submit "Create Account" %>
    <% end %>