<h1> Create new plant! </h1>
<br>

<%= form_for @plant do |f| %>

<div>
    <%= f.label :name %>
    <%= f.text_field :name %>
</div>
<div>
    <%= f.label :description %>
    <%= f.text_area :description %>
</div>
    <%= f.submit "Create Plant" %>
    <% end %>