
<%= index_header %>
<%= link_to "add new garden", new_user_garden_path(current_user) %>
<br><br>


<% @gardens.each do |g| %>
    <h2>Address: <%= link_to g.address, user_garden_path(current_user, g) %></h2>
    <% if g.user != current_user %>
        <p><%= g.user.name %> owns this plant.</p>
    <% end %>
<p>Plant name: <%= link_to g.plant.name, plant_path(g.plant) %> </p>
<p>Description: <%= g.plant.description %> </p>
<br>
    <% end %>

    <div class="sidebar">
        <i>Would you like to see GardenKeepers <%= link_to 'plant-celebrity showcase?', celebrity_path %></i>
    </div>

