<h1> create garden </h1>

<%= form_for @garden do |f| %>
    <%= f.hidden_field :user_id %>
        <%= f.fields_for :plant do |p| %>
            <%= p.label :name %>
            <%= p.text_field :name %>
            <%= p.label :description %>
            <%= p.text_field :description %>
        <% end %>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <%= f.submit "Create Garden" %>
    <% end %>

    