<h1> create garden </h1>

<% if @garden.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@garden.errors.count, "error") %> prohibited this garden from being saved:</h2>
    <ul>
    <% @garden.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @garden do |f| %>
    <%= f.hidden_field :user_id %>

    
    <%= f.fields_for :plant do |p| %>
        
        <p>What kind of plant is in your garden? </p>
        
        <% if !@garden.errors.include?("plant.name") %>
        <div class="field">
        <% else %>
        <div class=".field_with_errors">
        <% end %>
            <%= p.label :name %>
            <%= p.text_field :name %>
</div>

<% if !@garden.errors.include?("plant.description") %>
    <div class="field">
<% else %>
    <div class=".field_with_errors">
<% end %>
            <%= p.label :description %>
            <%= p.text_field :description %>
        <% end %>
</div>
<br>
<p> Or, maybe this kind of plant is already in our system! </p>
<div>
<%= f.collection_select :plant_id, Plant.all, :id, :name %>
</div>
<br>

    <p>Where is your garden located?</p>
   
<% if !@garden.errors.include?("address") %>
    <div class="field">
<% else %>
    <div class=".field_with_errors">
<% end %>
        <%= f.label :address %>
    <%= f.text_field :address %>
</div>

    <%= f.submit "Create Garden" %>
    <% end %>

    